.banner {
  min-height: 100vh;
  background: linear-gradient(180deg, #070211 0%, rgba(65, 9, 38, 0) 100%),
    url("../images/concert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.banner-title {
  color: var(--white);
  text-align: center;
}
.invalid-age {
  display: none;
  color: var(--red);
}
.invalid-age span {
  color: var(--white);
}
.my-card-title {
  color: #2c1b39;
}
.my-card-description {
  color: #32062a;
}
#age {
  margin: 20px 0 40px;
  padding: 15px 20px;
  font-size: 18px;
  /* border: 2px solid var(--white); */
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-weight: 500;
  -moz-appearance: textfield;
  appearance: textfield;
}

#age:focus {
  outline: none;
  border-color: #a994c8;
  background-color: #a994c8;
}

.child-column,
.adult-column {
  display: none;
  justify-content: center;
  margin-bottom: 20px;
}

.purchase-btn {
  font-weight: bold;
  background-color: #2c1b39;
  color: white;
}
.purchase-btn:hover {
  background-color: #a994c8;
  color: black;
}
