* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

:root {
  --white: #f7f7ff;
  --red: #fe5f54;
  --ash: #495868;
  --navy: #587399;
  --lightBlue: #bdd5ea;
}
